body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background: #1e3142;
    color: white;
}

header {
    width:100%;
    background: #13293d;
    padding: 10px;
}

nav {
    width: 100%;
   display: flex;
}

nav ul {
    display:flex;
    min-width: 200px;
}

nav li {
    min-width: 20px;
}

nav a {
    color: azure;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    min-width: 115px;
    border-style: solid;
}


nav a:hover{
    background-color: antiquewhite;
}

/* Social media menu styles */

//#insta {
    background: url("../images/insta.jpeg") no-repeat center;
    background-size: 50%;
}

//#tw {
    background: url("../images/twitter.png") no-repeat center;
    background-size: 50%;
}

.social{
}

nav ul.social {
    flex: 1 1 0;
}

/* Main Background Image */

.road {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/looking-cool.JPG");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

h1 {
    font-size: 300%;
    color: black;
    font-family: cursive;
    padding: 10px;
    position: relative;
}

.about {
    display:flex;
    justify-content: center;
    padding-right: 40px;
    padding-left: 100px;
}

 h2 {
    display: flex;
    padding: 10px;
    font-size: 200%;
    border-style: none;
    border-bottom: none;
    border-top: none;
    border-right: solid;
}

.robot {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 100px;
}

.container {
    display: flex;
    flex-direction: column;
}

#about-me p {
    padding: 10px
}


#work {
    display: flex;
    justify-content: space-between;
}



.tools{
    max-width: 700px;
    display:flex;
    flex-wrap: wrap;
    
    
}

.image {
    height:200px;
    width: 200px;
    background-color: aliceblue;
    color:aqua;
    padding:30px;
    border: solid 3px blue;
    margin: 20px;
    
}

#my-work {

}

.image:hover,
.image:focus{
  width:500px;
  height: 300px;
}


.filled {
    display: flex;
}
ul {
    margin: 10px;
    justify-content: flex-end;
}

li {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}
/* flex Styles /*