body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background: #1e3142;
    color: white;
}

header {
    width:100%;
}

/* Nav Bar */

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul {
    display: flex;
    margin: 2px;
}

nav li {
    display: flex;
}

nav a {
    color: azure;
    text-align: center;
    padding: 10px;
}


nav a:hover{
    background-color: antiquewhite;
}

/* Social media menu styles */


/* Main Background Image */

.road {
    height: 300px;
    width: 100%;
    background-image: url("../images/looking-cool.JPG");
    background-size: cover;
    background-position:center;
    display: flex;
    justify-content:end;
    border-style: ridge;
    border-left: none;
    border-right: none;
}

/* Main Flexbox container*/

main {
    background: rgb(215, 240, 243);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 5%;
}

/* headers */

h1 {
    font-size: 350%;
    color: black;
    font-family: cursive;
    padding: 10px;
    max-height: 90px;
    text-shadow: 2px 2px lightslategray;
}

h2 {
    display: flex;
    padding: 5px;
    font-size: 200%;
    border-top: solid 1px black;
    border-right: solid 3px black;
    min-width: 175px;
    max-width: 150px;
    text-align: center;
    font-family: cursive;
    text-emphasis: 9;
    text-shadow: 1px 1px lightslategray;
}


/* Flex Container for About me, My Work and Contact me sections */

section {
    display:flex;
    padding: 10px;
}

/* about me flex box and styling*/

.container {
    display: flex;
    flex-direction: column;
}

#about-me p {
    display: flex;
    padding: 10px;
}

/* My work Section */


.tools{
    display: flex;
   flex-flow: column;
}


.image-1{
    background-image: url("../images/Seattle.jpeg");
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    height:300px;
    border: solid 3px #1e3142;
    border-radius: 5px;
    margin: 10px;
    padding: 30px;
    box-shadow: 5px 5px rgb(72, 36, 181);
    color: white;
}

/* Sub images Container */

.sub-images{
    display: flex;
    flex-flow: wrap;
}

/* Sub images flex direction backgrounds and styling */

.image-cluster{
    flex-grow: 1;
    height:200px;
    width: 300px;
    padding:30px;
    border: solid 3px #1e3142;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 5px 5px rgb(72, 36, 181);
    color: black;
}

.image-cluster a {
    align-content: flex-end;
    color: aqua;
}

#image-2 {
    display:flex;
    align-content: baseline;
    background-image: url("../images/Makenna.jpeg");
    background-size:cover;
    background-position:unset;
}

#image-3 {
    background-image: url("../images/ringo-me.jpeg");
    background-size:cover;
    background-position:center;
}

#image-4 {
    background-image: url("../images/amanda.jpeg");
    background-size:cover;
    background-position:center;
}

#image-5 {
    background-image: url("../images/sunset.jpeg");
    background-size:cover;
    background-position:center;
}


/*image hover effects*/

.image-1:hover {
    border-color: rgb(181, 181, 110);
    opacity: .5;
}
.image-cluster:hover {
        border-color: rgb(181, 181, 110);
        opacity: .5;
}

/*Contact me Section styling */

section ul {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*Footer Styling*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.sub-images a {
    color: white;
}

/* flex Styles */

@media screen and (max-width: 600px) {
 
h1 {
    font-size: 300%;
}
    main,
  nav {
    flex-direction: column;
    align-content: center;
  }


nav ul {
    justify-content: space-evenly;
 
}

section {
    flex-direction: column;
    align-content: center;
}

section ul {
    flex-direction: column;
    align-content: flex-start;
}

section li {
    padding-bottom: 10px;
}

h2 {
min-width:  300px;
align-items: center;
border-style: none;
border-bottom: solid 3px;
border-top: solid;
border-right: none;
flex-grow: 1;
}

.road {
    justify-content: center;
}