body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background: #1e3142;
    color: white;
}

header {
    width:100%;
    background: #13293d;
    padding: 10px;
}

nav {
    width: 100%;
   display: flex;
}

nav ul {
    display:flex;
    min-width: 200px;
}

nav li {
    min-width: 20px;
}

nav a {
    color: azure;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    min-width: 115px;
    border-style: solid;
}


nav a:hover{
    background-color: antiquewhite;
}

/* Social media menu styles */

//#insta {
    background: url("../images/insta.jpeg") no-repeat center;
    background-size: 50%;
}

//#tw {
    background: url("../images/twitter.png") no-repeat center;
    background-size: 50%;
}

.social{
}

nav ul.social {
    flex: 1 1 0;
}

/* Main Background Image */

.road {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/looking-cool.JPG");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}


h1 {
    font-size: 300%;
    color: black;
    font-family: cursive;
    padding: 10px;
}
.section {
    display:flex;
    border: 20px;
    border-color: aliceblue;
}

.section h2 {
    padding: 10px;
    margin:auto;
}


/* flex Styles /*